/*PSEUDO CLASS 

body{
   padding: 50px; 
}

button{
    background-color: green;
    border: 2px solid green;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
}

button:hover{
    background-color: red;
}

button:focus{
    background-color: black;
}

button:disabled{
    cursor: not-allowed;
    opacity: 0.3;
}

*/



/* CSS BOXMODEL 

*{
    margin: 0;
}

.parent{
    display: inline-block;
    background-color: black;
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 30px;
}

.content{
    
    background-color: burlywood;
    width: 300px;
    height: 300px;
    
}

*/



/*  <-- DISPLAY -->
.parent{
    background-color: aqua;
}

.child{
    background-color: blueviolet;
    padding: 10px;
    display: inline-block;
    margin: 30px;
}

  <-- POSITION -->

body{
    background-color: black;
}

.parent {
    position: relative;
    background-color: darkblue;
    width: 300px;
    height: 300px;
}

.child{
    position:absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    right: 0;
}

*/